<!DOCTYPE html>
<html>
<head>
    <link href= "/public/stylesheets/styles.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
        {{{body}}}
</body>
</html>